body{
    background-color: black;
}

img:hover{
    cursor: pointer;
}
#timer{
    margin-left: 20%;
    margin-right: 20%;
}
.checklist-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  
  
  }
  
  .checklist-item .checklist-text {
    margin-left: 10px;
  }
  
  .checklist-item input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }
  
  .checked-text {
    text-decoration: line-through;
  }
  .checklist-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .checklist-item .checklist-text {
    margin-left: 10px;
  
  }
  
  .checklist-item input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .delete-button:hover {
    background-color: #d32f2f;
  }
  
  .checked-text {
    text-decoration: line-through;
  }
  